.text-1{
    position: absolute;
    top: 269px;
    left: 73px
}

.text-2{
    position: absolute;
    top: 269px;
    left: 349px;
}

.text-3{
    position: absolute;
    top: 275px;
    left: 667px;
}