/*---------------------------------------
Global Styles
----------------------------------------*/

.slide {
    margin: 0 auto;
    width: 1024px;
    height: 768px;
}

.indicators {
    position: absolute;
    top: 60px;
    right: 0;
    width: 1024px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    transform: translate(-50%);
    padding-right: 25px;
}

img {
    position: absolute;
}

co-image {
    position: absolute;
}

:focus {
    outline: none;
}
#menu.default {
    transition: 0.5s linear !important;
}
#menu.default ul li:not(:last-child):after{
    background-color: #fff !important;
}
.hamburgerMenu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 980px;
    top: 5px;
    z-index: 3;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
co-video{
    position: absolute;
}
co-video.default {
    z-index: 0;
}

co-video.default .init[co-video]::before {
    display: none;
}

co-video.default .init[co-video]::after {
    display: none;
}

/*---------------------------------------
Common Navigation
----------------------------------------*/

.home-btn button {
    position: absolute;
    left: 745px;
    width: 100px;
    height: 50px;
    background: transparent;
    border: 0px;
    z-index: 3;
}

.ref-btn {
    position: absolute;
    left: 843px;
    top: 0px;
    width: 70px;
    height: 50px;
    z-index: 3;
}

.ref-btn:hover {
    cursor: pointer;
}

.api-btn {
    position: absolute;
    left: 912px;
    top: 0px;
    width: 58px;
    height: 50px;
    z-index: 3;
}

.ask-btn button {
    position: absolute;
    left: 766px;
    top: 0px;
    width: 58px;
    height: 50px;
    background: transparent;
    border: 0px;
    z-index: 3;
}

.api-btn:hover {
    cursor: pointer;
}

.close-btn {
    position: absolute;
    right: 68px;
    top: 163px;
    width: 50px;
    height: 50px;
    z-index: 5;
    display: none;
}

.ref-screen,
.api-screen {
    width: 1024px;
    height: 768px;
    display: none;
    position: absolute;
    z-index: 4;
    top:0px;
}

.top {
    z-index: 3;
    top:0
}

.bar1,
.bar2,
.bar3 {
    background-color: #fff;
}
/*---------------------------------------
Chapter : Febustat A & B
----------------------------------------*/

.man {
    top: 192px;
}

.febustatlogo {
    top: 565px;
    left: 433px;
}

.febustatlogo-big {
    top: 165px;
    left: 433px;
    display: none;
}

.feb-text1 {
    top: 683px;
    left: 435px;
}

.feb-text2 {
    top: 684px;
    left: 533px;
}

.feb-text3 {
    top: 684px;
    left: 617px;
}

.dot1 {
    top: 690px;
    left: 520px;
}

.dot2 {
    top: 689px;
    left: 604px;
}

/*---------------------------------------
Chapter : Durapain
----------------------------------------*/

.slide2-logo {
    top: 366px;
    left: 440px;
}

.slide2-text2 {
    top: 218px;
    left: 429px;
}

.slide2-text1 {
    top: 163px;
    left: 431px;
}

.slide2-line {
    top: 196px;
    left: 427px;
}

/**
 * How to make 3-corner-rounded triangle in CSS (SO)
 * http://stackoverflow.com/q/14446677/1397351
 */

.triangle {
    position: relative;
    /* background-color: orange; */
    text-align: left;
}

.triangle:before,
.triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}

.triangle,
.triangle:before,
.triangle:after {
    width: 13em;
    height: 13em;
    border-top-right-radius: 30%;
}

.triangle {
    transform: rotate(-60deg) skewX(-30deg) scale(1, .866);
}

.triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

.triangle-rev {
    transform: rotate(-120deg) skewX(-30deg) scale(1, .866);
}

.triangle-rev:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
}

.triangle-rev:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
}

/*---------------------------------------
Chapter : Rejoint
----------------------------------------*/

.goBackRejoint {
    position: absolute;
    width: 100px;
    height: 100px;
    background: transparent;
    border: 0px;
    z-index: 1;
}

.close_btn_durapin_v5 {
    /* position: absolute; */
    right: 78px;
    top: 63px;
    width: 50px;
    height: 50px;
    z-index: 4;
    display: none;
}

/* --------------ANIMATION--------------------------------------------------*/
@keyframes pulseC {
    from {
        transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/*---------------------------------------------------------------------------------*/
@keyframes pulseC {
    from {
        transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.pulseC {
    /* animation-iteration-count: 2; */
    animation: pulseC 1s 0.1s 2;
    opacity: 1;
}

.g1_s1 {
    animation: g1_s1 2s ease-in-out forwards;
}

@keyframes g1_s1 {
    0% {
        top: 585px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 381px;
        height: 201px;
        opacity: 1;
    }
}

.g1_s2 {
    animation: g1_s2 2s ease-in-out forwards;
}

@keyframes g1_s2 {
    0% {
        top: 586px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 381px;
        height: 204px;
        opacity: 1;
    }
}

.g2_s1 {
    animation: g2_s1 2s ease-in-out forwards;
}

@keyframes g2_s1 {
    0% {
        top: 533px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 439px;
        height: 94px;
        opacity: 1;
    }
}

.g2_s2 {
    animation: g2_s2 2s ease-in-out forwards;
}

@keyframes g2_s2 {
    0% {
        top: 534px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 504px;
        height: 30px;
        opacity: 1;
    }
}

.s3-g1_s1 {
    -animation: s3-g1_s1 2s ease-in-out forwards;
}

@keyframes s3-g1_s1 {
    0% {
        top: 591px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 413px;
        height: 178px;
        opacity: 1;
    }
}

.s3-g1_s2 {
    animation: s3-g1_s2 2s ease-in-out forwards;
}

@keyframes s3-g1_s2 {
    0% {
        top: 590px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 405px;
        height: 185px;
        opacity: 1;
    }
}

.s3-g2_s1 {
    animation: s3-g2_s1 2s ease-in-out forwards;
}

@keyframes s3-g2_s1 {
    0% {
        top: 540px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 426px;
        height: 114px;
        opacity: 1;
    }
}

.s3-g2_s2 {
    animation: s3-g2_s2 2s ease-in-out forwards;
}

@keyframes s3-g2_s2 {
    0% {
        top: 539px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 504px;
        height: 35px;
        opacity: 1;
    }
}

/*------------------------------------------------------------------------------------*/


.s4-g1_s1 {
    animation: s4-g1_s1 2s ease-in-out forwards;
}

@keyframes s4-g1_s1 {
    0% {
        top: 611px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 382px;
        height: 229px;
        opacity: 1;
    }
}

.s4-g1_s2 {
    animation: s4-g1_s2 2s ease-in-out forwards;
}

@keyframes s4-g1_s2 {
    0% {
        top: 611px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 407px;
        height: 204px;
        opacity: 1;
    }
}

.s4-g2_s1 {
    animation: s4-g2_s1 2s ease-in-out forwards;
}

@keyframes s4-g2_s1 {
    0% {
        top: 540px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 426px;
        height: 114px;
        opacity: 1;
    }
}

.s4-g2_s2 {
    animation: s4-g2_s2 2s ease-in-out forwards;
}

@keyframes s4-g2_s2 {
    0% {
        top: 539px;
        height: 0px;
        opacity: 1;
    }

    100% {
        top: 504px;
        height: 35px;
        opacity: 1;
    }
}


.febustat_video {
    width: 778px;
    height: 442px;
}

.popup {
    position: absolute;
    top: 142px;
    left: 96px;
    height: 477px;
    width: 798px;
}

@keyframes pulse2 {
    from {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
        opacity: 1;
    }

    to {
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

.pulse5{
    animation: pulse2 1s;
    animation-iteration-count: 5; 
}

.pulse3 {
    animation: pulse2 0.4s;
    animation-iteration-count: 3;
}

.pulse2 {
    animation: pulse2 0.8s;
    animation-iteration-count: 2;
}
.pulse-infinite {
    animation: pulse2 0.8s;
    animation-iteration-count: infinite;
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
.stamp-animation{
    animation-name: stamp-animation;
    animation-duration: 0.8s;
    opacity: 0;
     animation-fill-mode:forwards;
}
@keyframes stamp-animation{
0%{
    opacity: 0;
}
10%{
    opacity: .50;
    transform-origin: 40% 40%;
    transform: rotate(0deg) scale(1.5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335)
}
100%{
    opacity:1;
    transform: rotate(0deg) scale(1);
}
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }
  
  .fadeIn1 {
    animation-name: fadeIn;
    animation-duration: 2s;
  }
    