<link rv-component="scroller">
<link rel="stylesheet" href="../node_modules/menu/src/css/menu.css">

<div id="menu" class="default location-bottom" 
	 rv-controller="../node_modules/menu/src/js/menu"
	 rv-show="isMenuEnable"
	 rv-class-active="true"
	 rv-on-swipeleft="preventSlideScroll"
	 rv-on-swiperight="preventSlideScroll"
	 data-prevent-right-swipe="true" data-prevent-left-swipe="true" style="z-index: 3;">

	<div class="scroll-container">
		<ul rv-onglobal-tap="closeMenu" rv-scroll rv-label="activeMenuElement" refresh-on="slideenter" class="nav">
			<li rv-each-chapter="chapters"
				rv-on-tap="gotoChapter"
				rv-scroll-label="chapter.id"
				rv-data-chapter="chapter.id"
				rv-class-active="chapter.isActive"
				rv-class-empty="chapter.isEmpty"
				rv-html="chapter.name"></li>
		</ul>
	</div>
	<!-- <button class="open-menu" rv-on-tap="openMenu"></button> -->
</div>

<div class="hamburgerMenu">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<div class="debugDiv"></div>