<img class="top" src="media/images/common/top-bar-without-ref/top-blue.png" width="1024" height="50">

<!-- <div class="ref-btn"></div> -->
<div class="api-btn"></div>
<img class="close-btn" src="media/images/common/close.png" width="50" height="50">
<!-- <img class="ref-screen" src="media/images/common/renogard/ref.jpg" width="1024" height="768"> -->
<img class="api-screen" src="media/images/common/renogard/api.jpg" width="1024" height="768">
<div class="home-btn">
    <button rv-nav nav-slide="home-1" nav-event="tap"></button>
</div>

<!-- Chapter Menu -->
<rv-template name="common-chapter-menu"></rv-template>
<!-- /Chapter Menu -->

<!-- Indicators -->
<rv-template name="../node_modules/indicators/src/templates/indicators"></rv-template>
<!-- /Indicators -->

<style>
    .close-btn {
        top: 42px;
        left: 913px;
    }
    #menu.default {
        background-color: #2d74b9;
    }
    #menu.default ul li.active {
        background-color: #4582bd;
    }
    .home-btn button {
        left: 797px;    }
    .ref-btn {
        left: 827px;
    }
    .api-btn {
     left: 901px;
    }
</style>